

.bpw-floating-button {
    background-image: url(https://dev2.costnip.org/qna.png);
} 


.bpw-powered {
    display: none;
}

@media screen and (max-width: 650px) {
    .bpw-layout {
        /* Set a max-height for the chatbox on small screens */
        max-height: 80vh; 
        /* This ensures that the chat box is scrollable */
        overflow-y: auto;
        /* Distance from the bottom of the page */
        bottom: 40px;
    }
}
