.bpw-floating-button {
    /* Aligns the button to the right side of the container */
    float: Left !important;
    /* Sets the fill color of the button icon */
    fill: rgb(255, 255, 255);
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    /* Removes the outline around the button when clicked */
    outline: none;
    /* Centers the icon inside the button element */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Sets the width and height of the button */
    width: 52px;
    height: 52px;
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    /* Rounds the corners of the button */
    border-radius: 50%;
    /* Adds a shadow effect to the button */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    /* Clips any content that overflows the button */
    overflow: hidden;
    /* Removes padding and borders from the button */
    padding: 0;
    border: none;
    background-clip: padding-box;
    /* Adds a transition effect to the button when its size changes */
    transition: width 1s, height 1s;
}

.bpw-floating-button {
    background-image: url(https://na-git-main-enginer-2023.vercel.app/enginer-1-4043.png);
} 


.bpw-powered {
    display: none;
}

.bpw-send-button {
  font-size: 0; /* hide original text */
}

.bpw-send-button::before {
  content: "Enviar";
  font-size: 16px; /* set size of new text */
  font-weight: bold; /* make text bold */
}

.bpw-send-button:hover::before {
  display: inline-block;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: rgba(128, 128, 128, 0.2);
  color: #000; /* set to black color */
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
  background-color: rgba(128, 128, 128, 0.2); /* set to clear grey color */
}

@media screen and (max-width: 600px) {
    .bpw-layout {
        /* Set a max-height for the chatbox on small screens */
        max-height: 40vh; 
        /* This ensures that the chat box is scrollable */
        overflow-y: auto;
    }
}
